<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hola</title>
  </head>
  <body>
    funciona el template
    <img src="http://localhost:8080/fotos" alt="Italian Trull" />
    <!-- <script>
      document.getElementById("ItemPreview").src =
        "data:image/png;base64," + yourByteArrayAsBase64;
    </script> -->
  </body>
</html>
