<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  
  <head th:fragment="head">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>RetroS</title>
    <!-- Favicon-->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link
      href="../../static/css/styles.css"
      th:href="@{/css/styles.css}"
      rel="stylesheet"
    />
  </head>
  <body>



    <div th:fragment="wrapper(content)" class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-white" id="sidebar-wrapper" >
        <div class="sidebar-heading border-bottom bg-light pb-2 pt-3">
          <a class="navbar-brand m-5" th:href="@{/items}"> <img
              src="https://img.freepik.com/premium-vector/old-analog-camera-icon_18667-110.jpg"
              width="120" height="120" style="border-radius:50%" alt="" />
  
          </a>
        </div>
        <div class="list-group list-group-flush">

          
          <h5 class="list-group-item  list-group-item-light p-3 " 
          >Bienvenido</h5>
          <a class="list-group-item list-group-item-action list-group-item-light p-3 "
          th:href="@{/compras}">Mis compras</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3"
          th:href="@{/ventas}">Mis publicaciones</a>
          
          <a class="list-group-item list-group-item-action list-group-item-light p-3"
          th:href=@{/ventas/nuevo}>Nueva venta</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href=@{/billetera}>
            Billetera</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/perfil}">Mi
              perfil</a>
              <a class="list-group-item list-group-item-action list-group-item-light p-3"
                 th:href="@{/ingresar}">Logout</a>
        </div>
      </div>

    
            


  <div class="container px-700 px-lg-5 mt-5"> 
    <form class="form-horizontal" th:action="@{/ventas/submit}" method="post" th:object="${venta}"  enctype="multipart/form-data">
        <fieldset>
        
        <!-- Form Name -->
        <legend>Vender nuevo articulo</legend>
        
        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="nombre">Nombre</label>  
          <div class="col-md-4">
          <input id="nombre" name="nombre"
                type="text"
                placeholder="Sandalia de algarrobo"
                class="form-control input-md"
                required=""
                th:field:"*{descripcion}"
                >
            
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="descripcion">Descripcion</label>  
          <div class="col-md-4">
          <input id="descripcion" name="descripcion"
                type="text"
                placeholder="Sandalia de algarrobos"
                class="form-control input-md"
                required=""
                th:field:"*{nombre}"
                >
            
          </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="categoria">Categoria</label>
          <div class="col-md-4">
            <select id="categoria"
             name="categoria"
             class="form-control"
             th:field:"*{categoria}"
             >
              <option th:value="1" th:text="Tecnologia"></option>
              <option th:value="2" th:text="Libros"></option>
              <option th:value="3" th:text="Vestimenta"></option>
              <option th:value="4" th:text="Vehiculos"></option>
              <option th:value="5" th:text="Deportes"></option>
              <option th:value="6" th:text="Hogar"></option>
            </select>
          </div>
        </div>
        
        
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="precio">Precio</label>  
            <div class="col-md-4">
                <input
                id="precio"
                name="precio"
                type="number"
                placeholder=""
                class="form-control input-md"
                required=""
                th:field:"*{precio}"
                onkeypress="return isNumberKey(event)"
                >
                
            </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Cantidad">Cantidad</label>  
            <div class="col-md-4">
                <input id="Cantidad" name="Cantidad"
                type="number" placeholder=""
                class="form-control input-md"
                min="1"
                onkeypress="return isNumberKey(event)"
                required=""
                th:field:"*{cantidad}"
                >
                   
            </div>
        </div>
        
        <!-- Text input-->
        
        <div class="form-group">
            <label class="col-md-4 control-label" for="fecha">Fabricacion del articulo</label>  
            <div class="col-md-4">
          <input id="fecha"
          name="fecha"
          type="date"
          placeholder=""
          class="form-control input-md"
          required=""
          th:field:"*{fecha}"
          >
          
        </div>
    </div>

        <div>
            <label for="imagenes" style="margin-top:40px; margin-right: -20px;" ></label>
            <input type="file"  name="files" class="custom-file-upload"
            accept=".jpg, .jpeg, .png"
            required=""
            multiple            
            >
          </div>

        
        </fieldset>
        <div class="text-left button" style="margin-top:15px">
            <input class="btn warning"
            type="submit"
            value="Publicar"
            ></input>
        </div>

    </form>
  </div>

  

  

</div>
</div>
      </div>
    </div>
</section>









    </div>
  </body>
  <script>

    precio.onchange = setTwoNumberDecimal;

    function setTwoNumberDecimal(event) {
    this.value = parseFloat(this.value).toFixed(2);
}

    function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : evt.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}

  </script>
</html>
